<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link href="css/main.css" type="text/css" rel="stylesheet" />
	<script data-main="js/main.js" src="js/require.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
	<header>
		<h1>Node-js Application</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/upload">Upload</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
		</ul>
	</nav>
	<section id="main">